<header>
   <%= image_tag "PCM-Logo2014.png" %>
   <!-- <h1>Welcome!</h1> -->
 </header>
 <section>
  <nav>
    <ul>
      <% link_to '#' do %>
        <li>About</li>
      <% end %>  
      <% link_to '#' do %>
        <li>News</li>
      <% end %>  
      <% link_to '#' do %>
        <li>Vendors</li>
      <% end %>  
      <% link_to '#' do %>
        <li>Contact</li>
      <% end %>  
    </ul>
  </nav>
</section>