---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="doc">
    <%= image_tag "PCM-Logo2014.png" %>
  </div><!-- .doc -->
  <article>
    <h1>Join Us at the Next Market!</h1>
    <h3>ByLine Bank Parking Lot</h3>
    <h3>18th and Halsted</h3>
    <h2>May 29th, 2016</h2>
    <h2>9am - 2pm</h2>
  </article>
</div><!-- .welcome -->
