---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="doc">
    <%= image_tag "PCM-Logo2014.png" %>
  </div><!-- .doc -->
  <article>
    <h1>Join Us at the Next Market!</h1>
    <h3><%= market_location(Date.today) %></h3>
    <h2>"#{date_of_next_market(Date.today).strftime(%B, %d, %Y)}"</h2>
    <h2>"#{market_time(Date.today)}"</h2>
  </article>
</div><!-- .welcome -->
